<div id="message-accessories-1041484347821281300" class="container-2sjPya">
    <article class="embedWrapper-1MtIDg embedFull-1HGV2S embed-hKpSrO markup-eYLPri" aria-hidden="false">
        <div class="gridContainer-1cF_Ic"><div class="grid-1aWVsE hasThumbnail-388RMe">
            <div class="embedAuthor-TJIHp5 embedMargin-2PsaQ4">
                <img alt="" class="embedAuthorIcon-3pnkS4" src="https://images-ext-2.discordapp.net/external/fBlpeO4VuoXd0FvCzB4Nt9WIBjlIZrT23m76BT8lpAw/https/images-ext-1.discordapp.net/external/nqHcVm1UMhJ_CZDy7QVQphVPhYSpgrcuQBmF5kw1zVM/https/cdn.discordapp.com/icons/805711346620432384/e18da31784eb04c70128494a146b5dfe.png">
                <span class="embedAuthorName-pGyUPR">[CGP]Central Gaming Public</span>
            </div>
            <div class="embedTitle-2n1pEb embedMargin-2PsaQ4">Игровая карточка участника <code class="inline">@desire</code></div>
            <div class="embedFields-2yHGHT">
                <div class="embedField-2kda1Q" style="grid-column: 1 / 13;">
                    <div class="embedFieldName-9LYSyR">Steam:</div>
                    <div class="embedFieldValue-3EHtvR"><code class="inline">https://steamcommunity.com/id/grindfix/</code></div>
                </div>
                <div class="embedField-2kda1Q" style="grid-column: 1 / 7;">
                    <div class="embedFieldName-9LYSyR"><strong>EpicGames:</strong></div>
                    <div class="embedFieldValue-3EHtvR"><code class="inline">GRINDFIX</code></div>
                </div>
                <div class="embedField-2kda1Q" style="grid-column: 7 / 13;">
                    <div class="embedFieldName-9LYSyR"><strong>Origin:</strong></div>
                    <div class="embedFieldValue-3EHtvR"><code class="inline">Нет</code></div>
                </div>
                <div class="embedField-2kda1Q" style="grid-column: 1 / 13;">
                    <div class="embedFieldName-9LYSyR"><strong>XBox:</strong></div>
                    <div class="embedFieldValue-3EHtvR"><code class="inline">Нет</code></div>
                </div>
                <div class="embedField-2kda1Q" style="grid-column: 1 / 13;">
                    <div class="embedFieldName-9LYSyR"><strong>Genshin Impact:</strong></div>
                    <div class="embedFieldValue-3EHtvR"><code class="inline">Europe 719694066</code></div>
                </div>
                <div class="embedField-2kda1Q" style="grid-column: 1 / 13;">
                    <div class="embedFieldName-9LYSyR"><strong>Osu!:</strong></div>
                    <div class="embedFieldValue-3EHtvR"><code class="inline">GrindFix</code></div>
                </div>
                <div class="embedField-2kda1Q" style="grid-column: 1 / 13;">
                    <div class="embedFieldName-9LYSyR"><strong>Social Club (Rockstar Games):</strong></div>
                    <div class="embedFieldValue-3EHtvR"><code class="inline">Нет</code></div>
                </div>
                <div class="embedField-2kda1Q" style="grid-column: 1 / 13;">
                    <div class="embedFieldName-9LYSyR"><strong>Wargaming:</strong></div>
                    <div class="embedFieldValue-3EHtvR"><code class="inline">GrindFix</code></div>
                </div>
                <div class="embedField-2kda1Q" style="grid-column: 1 / 13;">
                    <div class="embedFieldName-9LYSyR"><strong>Что нравится в играх/Жанры, которые интересуют:</strong></div>
                    <div class="embedFieldValue-3EHtvR">
                        <em>One love - шутеры, гонки Прочее - головоломки, визуальные новеллы, хорроры, симуляторы</em></div>
                    </div>
                    <div class="embedField-2kda1Q" style="grid-column: 1 / 13;">
                        <div class="embedFieldName-9LYSyR"><strong>Любимые игры:</strong></div>
                        <div class="embedFieldValue-3EHtvR">
                            <pre>
                                <code class="scrollbarGhostHairline-2LpzZ9 scrollbar-3vVt8d hljs bash"><span class="hljs-string">'Dead by daylight (не очень часто), Phasmophobia, CS:GO, Genshin Impact, osu!, WarThunder, Rocket League, WoT (Blitz), Euro Truck Simulator 2, Tom Clancys Rainbow Six Siege</span></code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="imageContent-3Av-9c embedThumbnail-2nTasl">
                    <div class="imageContainer-10XenG">
                        <div class="imageWrapper-oMkQl4 imageZoom-3yLCXY clickable-LksVCf" style="width: 80px; height: 80px;">
                            <a tabindex="-1" aria-hidden="true" class="originalLink-Azwuo9" href="https://probot.media/AGKU3sbpK1.png" data-role="img"></a>
                            <div class="clickableWrapper-2WTAkL" tabindex="0" aria-label="Изображение" aria-describedby="uid_7" role="button">
                                <img alt="Изображение" src="https://images-ext-1.discordapp.net/external/S-6W0bHktG52L3T9UlG99KXCzHgF22vup3Qx4WblYZk/https/probot.media/AGKU3sbpK1.png?width=80&amp;height=80" style="width: 80px; height: 80px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>